@model IEnumerable<GarbageCollection.Models.CustomerModels>
@{
    ViewBag.Title = "Billing";
}

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
</head>
<body>
    <h2>Billing</h2>
    <p>Your amount due is: @Html.DisplayFor(model => model.AmountDue)</p>

</body>
</html>