
@{
    ViewBag.Title = "View";
}

<h2>View</h2>

<div class="form-group">
    @Html.LabelFor(model => model.IsCompleted, htmlAttributes: new { @class = "control-label col-md-2" })
    <div class="col-md-10">
        <div class="checkbox">
            @Html.EditorFor(model => model.IsCompleted)
            @Html.ValidationMessageFor(model => model.IsCompleted, "", new { @class = "text-danger" })
        </div>
    </div>
</div>
